*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'worksans';
    background-color: #f6b35b
}
hr {
    background-color: red;
}


@media (min-width: 540px){
    /* background image styling */
.cookbook{
    background-image: url(./bgpic.avif);
    height: 200px;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
}

#navbar{
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    overflow: hidden;
    list-style-type: none;
}
.menu {
    color: white;
}
h1 {
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: solid 1px;
    width: 25%;
    text-align: center;
}
.img {
    width: auto;
    height: 150px;
}
#first-starter {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.incredients {
    margin-right: 10px;
}
li {
    margin-left:30px;
    list-style-type: circle;
}
button {
    margin-left: 50%;
    margin-right: 50%;
    width: 60px;
    height: 20px;
    margin-top: 10px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10%;
    
}
#second-starter {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
#third-starter {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

}
.hr {
    color: black;
}



@media (min-width: 1140px){
    #main {
        padding-left: 50px;
        padding-right: 50px;
    
        
    }
    
    .cookbook {
        display: flex;
        justify-content:center;
        height: 500px;
    }
    #navbar {
        display: flex;
        justify-content:center;
        justify-content: space-around;
        margin-top: 300px;
        float:unset;
        list-style-type: none;
        
        margin-left: 600px;
        margin-right: 620px;
    }
    .menu {
        color: black;
    
    }
    * {
        font-size: 22px;
    }
    h1 {
        font-size: 2rem;
    }
    button {
        width: 90px;
        height: 30px;
    }
    #starters {
        font-size: 1.5rem;
    }
    #mains {
        font-size: 1.5rem;
    }
    #desserts {
        font-size: 1.5rem;
    }
}
