*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'worksans';
    background-color: #f6b35b;
    margin-bottom: 100px;
}

@media (min-width: 340px){
    /* background image styling */
.cookbook{
    background-image: url(./bgpic.avif);
    height: 500px;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
}

#navbar {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
    overflow: hidden;
    list-style-type: none;
    font-size: 22px;
}
.navstyle {
    list-style-type: none;
}
.menu {
    color: white;
}
.grey {
    color:darkgray;
}
h1 {
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    background-color:#ce4a4a;
    font-style: italic;
    height: auto;
}
.img {
    width: 120px;
    height: 150px;
    border-radius: 2.5%;
}

.incredients {
    width: 50%;
}
li {
    margin-left:30px;
    list-style-type: circle;
}
button {
    display:flex;
    align-items: center;
    width: auto;
    padding-left:5px;
    padding-right: 5px;
    height: 20px;
    margin-top: 10px;
    background-color: #ce4a4a;
    border: none;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 2.5%;
}
.buttoncolor {
    color:black;
}
.homebutton {
    display: flex;
    justify-content: space-between;
}
.btn {
    display: flex;
    margin-right:15%;
}
#first-starter {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#second-starter {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#third-starter {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#contactus {
    text-align: center;
    padding: 0px;
    margin-top: 100px;
}
#contactdetails {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
    font-weight:bold;
}
#choice {
    font-weight: bold;
}
#checkboxcontainer {
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
    background-color:#f6b35b;
    padding-bottom: 10px;
    padding-top: 10px;
}
#container {
    padding: 0px;
    margin: 0px;
}
#subject {
    width: 100%;
}
#commentbox {
    margin-left: 20px;
}
footer {
    background-color: #e6a34b;
}
#comment {
    margin-top: 10px;
    font-weight: bold;
}
#starters {
    font-size: 1.5rem;
}
#mains {
    font-size: 1.5rem;
}
#desserts {
    font-size: 1.5rem;
}
}


@media (min-width: 1140px){
    #main {
        padding-left: 50px;
        padding-right: 50px;  
    }
    
    .cookbook {
        display: flex;
        justify-content:center;
        height: 500px;
    }
    #navbar {
        float: right;
        margin-right: 20px;
        margin-top: 25px;
        overflow: hidden;
        list-style-type: none;
        font-size: 22px;
    }
    .menu {
        color: white;
    
    }
    h1 {
        font-size: 2.5rem;
    }
    button {
        width: auto;
        height: 30px;
    }
    #starters {
        font-size: 1.5rem;
    }
    #mains {
        font-size: 1.5rem;
    }
    #desserts {
        font-size: 1.5rem;
    }
}